{% extends "index.html"}
{% body block %}

<h1>About Findit</h1>
<p>
    Find it is your go to website for all essential services. We list different categories of services from hotels, pharmacies, barber shops, salons, restaurants
    among other types of services.
</p>
<p>
    The services listed are filtered based on user location. You can easily view all, or some of the services listed on our website based on your interests of 
    location.
</p>
<h2>
    Why FIndit?
</h2>
<p>
    Our website is simple and helps you easily and effectively find any service you need by a simple search. We are not just a listing website, we are what you need 
    to save some extra time that would be spent searching.
</p>
<h2>
    Can I list my service or business?
</h2>
<p>
    Definitely. Findit is open to all business owners and service providers. Our main goal it to help people find essential services and make service providers more visible.
    Listing your business or service is simple; Click on LIST SERVICE NOW here or on the homepage to got through the simple steps. You will only need to create an account
    if you have not or log in to add your listing.
</p>